
  <div class="bottom-container">
    <div class="container my-auto">
      <div class="row">
        <div class="col-12 my-auto">
          <div class="social text-center">
            <a class="footer-link" href="https://www.facebook.com/learnyuva"><i class="fa-fw fab fa-facebook fa-lg"></i></a>
            <a class="footer-link" href="https://www.instagram.com/learnyuva"><i class="fa-fw fab fa-instagram fa-lg"></i></a>
            <a class="footer-link" href="https://www.linkedin.com/"><i class="fa-fw fab fa-linkedin-in fa-lg"></i></a>
            <a class="footer-link" href="mailto:contact.learnyuva@gmail.com"><i class="fa-fw fas fa-envelope fa-lg"></i></a>
            <a class="footer-link" href=""><i class="fa-fw fas fa-comment-alt fa-lg"></i></a>
          </div>
        </div>
        <div class="col-12">
          <div class="my-auto">
            <h6 class="text-center">© 2020 LearnYuva All rights reserved.</h6>
            <h6 class="text-center"> Made with &#x2764;</h6>
          </div>
        </div>
      </div>
    </div>
  </div>