<style>
    .courses{
        text-decoration: none !important;
        color: #33313B !important;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand h1" href="/">
      <div class="logo">
        <img src="/Assets/Images/logoWhite.png" height="60px" width="47px">
        <img src="/Assets/Images/textWhite.png" height="40px" width="116px" class="my-auto">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#newsMenu" aria-controls="newsMenu" aria-expanded="false" aria-lable="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="newsMenu">
      <div class="navbar-nav">

        <a class="nav-item nav-link nav-pills active" href="/">Home</a>

        <div class="ui dropdown">
          <a class="nav-item nav-link nav-pills dropdown-toggle" href="#">Courses</a>
          <div class="menu">
            <div class="item">
              Languages
              <div class="menu">
                <a class="courses item" href="/french">French</a>
                <a class="courses item" href="/spanish">Spanish</a>
                <a class="courses item" href="/german">German</a>
              </div>
            </div>

            <div class="item">
              Technical
              <div class="menu">
                <a class="courses item" href="/web">Web Development</a>
                <a class="courses item" href="/app">App Development</a>
                <a class="courses item" href="/ios">iOS Development</a>
                <a class="courses item" href="/c">C</a>
                <a class="item courses" href="/cpp">C++</a>
                <a class="item courses" href="/java">Java</a>
                <a class="courses item" href="/python">Python</a>
              </div>
            </div>
            <div class="item">
              IOT with Robotics
              <div class="menu">
                <a class="courses item" href="/iot">Internet of Things</a>
                <a class="courses item" href="/robotic">Robotics</a>
               
              </div>
            </div>
            <div class="item">
              Marketing
              <div class="menu">
                <a class="courses item" href="/dm">Digital Marketing</a>
              </div>
            </div>
            </div>
          </div>
          
        <a class="nav-item nav-link nav-pills" href="/aboutus">About Us</a>
        <a class="nav-item nav-link nav-pills" href="/contactus">Contact Us</a>
        <div class="ui dropdown">
            <a class="nav-item nav-link nav-pills dropdown-toggle">Welcome <%= user.name %></a>
            <div class="menu">
                <div class="item">
                    <a class="nav-item nav-link nav-pills" href="/dashboard" style= "color:#222; !important">Dashboard</a>
                </div>
                <div class="item">
                <a class="nav-item nav-link nav-pills" href="/users/logout" style="color:#222; !important" >Logout</a>
                </div>
            </div>
        </div>
        <br>
  </nav>
