<% if(user){ %>
   <% include ../partials/navbaraftlogin  %>
 <% } else{ %>  
   <% include ../partials/navbar  %>
<% } %>
<div class="container">
    <div class="jumbotron">
        <div class="course-intro">
            <div class="row">
                <div class="col-sm-6 col-12 my-auto">
                    <h2>Android App-Development for Beginners</h2>
                    <h6><p>Learn to create android apps effortlessly from our live online course. Train with us to become an amazing app developer, harness tools to help you become the best as you learn one of the most coveted skills of the industry.
                    </p></h6>
                  <br>
                  <% if(user){ %>
                    <button type="button" class="btn btn-primary btn-lg" disabled title ="This course is not available right now" >Enroll Now</button>
                    <% } %>
                </div>
                <div class="col-sm-6 col-12">
                  <br>
                    <img class="course-icon" src="/Assets/Images/appLogo.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
      <h2>We are Launching Soon!</h2>
      <h6>Your favourite course is under construction it will go live soon </h6>
    </div>
    
    <hr class="my-4 divider">
    <div class="container" style="opacity: 0.1;">
        <div class="row">
            <div class="col-md-3 d-none d-md-block course-stats">
              <h5>Course Progress Visuals Here</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam temporibus iste voluptatem quia voluptates? Ipsum culpa sit soluta neque sint facilis aperiam voluptates, ex quam voluptatum, quo mollitia error non.</p>
            </div>
            <div class="col-md-9 col-12 course-content">
                <h5>Course Content Here</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam corrupti, nesciunt voluptate ullam voluptatem repellat quod vitae saepe? Sunt ut facere optio nesciunt suscipit expedita labore! Eum autem natus exercitationem.</p>
            </div>
        </div>
    </div>
  </div>