  <% if(user){ %>
   <% include ../partials/navbaraftlogin  %>
 <% } else{ %>  
   <% include ../partials/navbar  %>
<% } %>
  <div class="container courses-page">
      <h2 class="text-center">The IOT Courses from LearnYuva are</h2>
      <div class="row">
          <div class="col-md-6 col-lg-4 col-12 offset-lg-2">
            <div class="card">
                <img class="card-img-top" src="/Assets/Images/iotLogo.jpg" height="210px" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">
                        LearnYuva's IOT Course.
                    </h4>
                    <p class="card-text">
                        Don’t miss out on the opportunity to build a secure, intelligent platform on the internet.
                    </p>
                    <a href="/iot" class="btn btn-primary">View Course</a>
                </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-12">
            <div class="card">
                <img class="card-img-top" src="../Assets/Images/roboticsLogo.jpg" height="210px" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">
                        LearYuva's Robotics Course.
                    </h4>
                    <p class="card-text">
                        Are you flabbergasted by a humanoid and want to build one but worried where to start with?
                    </p>
                    <a href="/robotic" class="btn btn-primary">View Course</a>
                </div>
            </div>
          </div>
      </div>
  </div>