<% if(user){ %>
   <% include ../partials/navbaraftlogin  %>
 <% } else{ %>  
   <% include ../partials/navbar  %>
<% } %>
<div class="container">
    <div class="jumbotron">
        <div class="course-intro">
            <div class="row">
                <div class="col-sm-6 col-12 my-auto">
                    <h2>Let's start coding in Java</h2>
                    <h6><p>Feed the code to your techie soul. Make your journey through the land of computers with our course on the most versatile language and learn to communicate with computers fluently.
                    </p></h6>
                </div>
                <div class="col-sm-6 col-12">
                    <img class="course-icon" src="../Assets/Images/javaLogo.png">
                </div>
            </div>
        </div>
    </div>