<% if(user){ %>
   <% include ../partials/navbaraftlogin  %>
 <% } else{ %>  
   <% include ../partials/navbar  %>
<% } %>
 <div class="container">
    <div class="jumbotron">
        <div class="course-intro">
            <div class="row">
                <div class="col-sm-6 col-12 my-auto">
                    <h2>Learn Spanish from basics.</h2>
                    <h6><p> Get the hang of using one of the world’s most phonetic languages, also the second most used language in the world , by live online sessions. We will aid you in gaining mastery over Spanish with our careful guidance suited to your needs.
                    </p></h6>
                  <br>
                  <% if(user){ %>
                  <a href="https://rzp.io/l/8Aw6js5" target="_blank">
                    <button type="button" class="btn btn-primary btn-lg">Enroll Now</button>
                  </a>
                    <br>
                    <p>₹1500</p>
                    <% } else { %>
                      <p>Please Login to Enroll. Thank You!</p>
                    <% } %>
                </div>
                <div class="col-sm-6 col-12">
                  <br>
                    <img class="course-icon" src="../Assets/Images/spanishLogo.jpg">
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4 divider">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-none d-md-block course-stats">
              <h5>Course Features</h5>
                <br>
                <p>Skill Level: All levels</p>
                <hr>
                <p>Access on Mobile and PC</p>
                <hr>
                <p>Language: English</p>
                <hr>
                <p>Certificate of completion</p>
                <hr>
                <p>Doubt Sessions</p>
                <hr>
                <p>Live and Interactive classes</p>
                <hr>
                <p>Experienced Faculties</p>
                <hr>
                <p>Duration: 2 months</p>
            </div>
            <div class="col-md-9 col-12 course-content">
              <h5>Course Overview</h5>
              <br>
                <p>Familiarize yourself with basic conversational skills in Spanish.</p>
                <p>Learn the lingua franca of Spain with 20 hours of live sessions.</p>
                <p>Have your doubts answered by our experienced faculty.</p>
                <p>Quench your thirst of knowledge and learn about the rich history of Spain.</p> 
              
              <br>
              <h5>Course Curriculum</h5>
              <br>
              
                <p>Learn the Spanish alphabets.</p>
                <p>Learn the proper use of Definite and Indefinite Articles. </p>
                <p>Understand the use of Demonstrative, Interrogative and Personal Pronouns better. </p>
                <p>Decipher the usage of present tense with basic verbs. </p>
                <p>Convey your needs better with the appropriate quantifiers. </p>
                <p>Speak fluently in Spanish keeping in mind the verbatim and vernacular. </p>
                <p>Rest assured in your knowledge of the language with periodic assessments and keep track of your progress. </p>
              
              <br>
            </div>
        </div>
    </div>
  </div>
  <br>
