<% if(user){ %>
   <% include ../partials/navbaraftlogin  %>
 <% } else{ %>  
   <% include ../partials/navbar  %>
<% } %>
 <div class="container">
    <div class="jumbotron">
        <div class="course-intro">
            <div class="row">
                <div class="col-sm-6 col-12 my-auto">
                    <h2>Learn Spanish from basics.</h2>
                    <h6><p> Get the hang of using one of the world’s most phonetic languages, also the second most used language in the world , by live online sessions. We will aid you in gaining mastery over Spanish with our careful guidance suited to your needs.
                    </p></h6>
                  <br>
                  <% if(user){ %>
                  <a href="https://rzp.io/l/8Aw6js5" target="_blank">
                    <button type="button" class="btn btn-primary btn-lg">Enroll Now</button>
                  </a>
                    <br>
                    <p>₹1500</p>
                    <% } %>
                </div>
                <div class="col-sm-6 col-12">
                  <br>
                    <img class="course-icon" src="../Assets/Images/spanishLogo.jpg">
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4 divider">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-none d-md-block course-stats">
              <h5>Course Features</h5>
                <br>
                <p>• SKill Level: All levels</p>
                <hr>
                <p>• Access on Mobile & PC</p>
                <hr>
                <p>• Language: English</p>
                <hr>
                <p>• Certificate of completion</p>
                <hr>
                <p>• Doubt Sessions</p>
                <hr>
                <p>• Live & Interactive classes</p>
                <hr>
                <p>• Experienced Faculties</p>
                <hr>
                <p>• Duration: 2 months/level</p>
            </div>
            <div class="col-md-9 col-12 course-content">
               <h5>There are 4 levels in this course</h5>
                <br>
                <h6>Level A1</h6>
                <p>This level aims to teach everyone basics of Spanish language which includes vocabulary & basic Grammar. After clearing this level student will be able to Give & ask Personal Info, give directions and speak in simple past and simple present tense.</p>
                <h6>Level A2</h6>
                <p>This second level will introduce students with more complex vocabulary of Spanish language. After clearing this level student will be able to describe about objects and places, give advice, write about different types of texts, and talk about their feelings.</p>
                <h6>Level B1</h6>
                <p>This level will introduce students with core Grammar of Spanish language. After clearing this level student will be able to describe and discuss about past and present, give instructions, talk on the phone, send messages and talk about future actions.</p>
                <h6>Level B2</h6>
                <p>This fourth level will introduce subjunctive, future tense and passive sentences. This is the final level after which students will showcase their mastery on spanish language.</p> 
                
            </div>
        </div>
    </div>
  </div>