<% if(user){ %>
   <% include ../partials/navbaraftlogin  %>
 <% } else{ %>  
   <% include ../partials/navbar  %>
<% } %>
<div class="container courses-page">
      <h2 class="text-center">The Technical Courses from LearnYuva are</h2>
      <div class="row">
          <div class="col-md-6 col-lg-4 col-12">
            <div class="card">
                <img class="card-img-top course-icon" src="../Assets/Images/webLogo.png" height="210px" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">
                        LearnYuva's Web Dev Course.
                    </h4>
                    <p class="card-text">
                        Have you ever looked at a website and wondered how it was created ?
                    </p>
                    <a href="/web" class="btn btn-primary">View Course</a>
                </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-12">
            <div class="card">
                <img class="card-img-top course-icon" src="../Assets/Images/appLogo.jpg" height="210px" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">
                        LearYuva's App Dev Course.
                    </h4>
                    <p class="card-text">
                        Learn to create android apps effortlessly from our live course.
                    </p>
                    <a href="/app" class="btn btn-primary">View Course</a>
                </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-12">
            <div class="card">
                <img class="card-img-top course-icon" src="../Assets/Images/iosLogo.jpg" height="210px" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">
                        LearnYuva's iOS Dev Course.
                    </h4>
                    <p class="card-text">
                        Are you passionate about the versions of iOS being released?
                    </p>
                    <a href="/ios" class="btn btn-primary">View Course</a>
                </div>
            </div>
          </div>
        <div class="col-md-6 col-lg-4 col-12">
          <div class="card">
              <img class="card-img-top course-icon" src="../Assets/Images/c++Logo.png" height="300px" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">
                      LearnYuva's C++ Course.
                  </h4>
                  <p class="card-text">
                     Ever wish you knew how to code? Don't worry we will teach you C++ from scratch. 
                  </p>
                  <a href="/cpp" class="btn btn-primary">View Course</a>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-12">
          <div class="card">
              <img class="card-img-top course-icon" src="../Assets/Images/javaLogo.png" height="300px" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">
                      LearYuva's Java Course.
                  </h4>
                  <p class="card-text">
                      Feed the code to your techie soul and learn the most versatile language of computers.
                  </p>
                  <a href="/java" class="btn btn-primary">View Course</a>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-12">
          <div class="card">
              <img class="card-img-top course-icon" src="../Assets/Images/pythonLogo.png" height="300px" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">
                      LearnYuva's Python Course.
                  </h4>
                  <p class="card-text">
                    Want to learn the easiest method to interact with computers and learn their language? 
                  </p>
                  <a href="/python" class="btn btn-primary">View Course</a>
              </div>
          </div>
        </div>
    </div>
  </div>