<% if(user){ %>
   <% include ./partials/navbaraftlogin  %>
 <% } else{ %>  
   <% include ./partials/navbar  %>
<% } %>
<div class="container">
  <div class="row">
      <div class="col-12">
        <br>
        <h3>Our Story</h3>
        <br>
        <p>Our name LearnYuva conveys our dedication to bring a healthy transition in the life of the young and the curious. Our name defines our noble profession, "Learn" which means “to gain knowledge” and "Yuva" symbolizing “the youth”. LearnYuva is here to boost the thinking capacity of young and brilliant minds by building an indivisible bond between knowledge and youth through live and interactive sessions. </p>
      </div>
      <div class="col-12">
        <p>LearnYuva is an online educational platform which focuses primarily on educating those aspiring students who wish to take a step forward and do more than the necessary by not just achieving their targets in school, but also in the outside world. 
        </p>
      </div>
      <div class="col-12">
      <br>
      <h3>Our Goals</h3>
      <br>
      <p>We, at LearnYuva, strive to provide students with an environment conducive to innovation and learning with dedicated faculties to help students realize their potential. From the portals at LearnYuva, we intend to send forth sensible and socially conscious individuals who shall be the instruments of positive change and peace in this strife-stricken world. Here at LearnYuva, the students are encouraged to achieve and aspire for success while learning to plan ahead as preparation is the key to a successful life.
      </p>
      <p>Through live classes, we endeavour to provide inquisitive minds with a pragmatic approach towards education which not only educates them but also makes them rational in their thinking. We aim to reach each and every student who is struggling to learn through conventional methods by equipping them with a massive range of technical and non-technical courses like app development, foreign languages, robotics, etc. with insightful learning experiences thus ensuring their all-round development.</p>
      </div>
      <div class="col-12">
        <p>Our team is clear on its goal and comprises of like-minded individuals who believe in educating for a better tomorrow. With that foundation, we can apply our personality and values to define how we will accomplish those goals. Any individual who believes and is passionate about the spread of knowledge for a more educated and aware world is welcome to join our clan as work towards creating something bigger than ourselves.
        </p>
      </div>
  </div>
</div>

<hr class = "my-4">
<div class="container" >
<h3 class="text-center">Our Team</h3>
<hr class="my-4">
  <div class="row">
    <div class="col-sm-4 col-12">
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/simant.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Simant Keshari</h4>
          <h6>Founder and CEO</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/anvesha.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Anvesha Shukla</h4>
          <h6>Content Head</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/prativa.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Prativa Chakraborty</h4>
          <h6>Content Team</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/anand.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Anand Iyer</h4>
          <h6>Content Team</h6>
        </div>
      </div>
       <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/sid.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Siddharth Kumar Choudhary</h4>
          <h6>Content Team</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/rakshika.jpeg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Rakshika Singh Rana</h4>
          <h6>Content Team</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-12">
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/payel.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Payel Paul</h4>
          <h6>Design Head</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/tirth.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Tirth Kalaria</h4>
          <h6>Design Team</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/Anish.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Anish Kumar Singh</h4>
          <h6>Design Team</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/arnab.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Arnab Deep</h4>
          <h6>Tech Head</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/anurag.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Anurag Singh</h4>
          <h6>Tech Team</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/saqib.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Saqib Rahman</h4>
          <h6>Tech Team</h6>
        </div>
      </div>
    </div>
    <!-- Row 3-->
    <div class="col-sm-4 col-12">
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/varun.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Varun Vaibhav Jha</h4>
          <h6>Chief Product Officer</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/tushar.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Tushar Barnwal</h4>
          <h6>S&M Head</h6>
        </div>
      </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/harsh.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Harsh</h4>
          <h6>S&M Team</h6>
        </div>
      </div>
        <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/manikanta.jpg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Manikanta TJ</h4>
          <h6>S&M Team</h6>
       </div>
   </div>
      <div class="row member">
        <div class="col-sm-4 col-12">
          <img class="rounded-circle img-fluid" src="Assets/profiles/sukrati.jpeg">
        </div>
        <div class="col-sm-8 col-12 m-auto">
          <h4>Sukrati Madariya</h4>
          <h6>S&M Team</h6>
        </div>
      </div>
   </div>
  </div>
</div>