<% if(user){ %>
   <% include ./partials/navbaraftlogin  %>
 <% } else{ %>  
   <% include ./partials/navbar  %>
<% } %>

<!--<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->

<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 offset-sm-1 col-12">
          <h2>LearnYuva</h2>
          <h5>Igniting Young Minds</h5>
        </div>
        <div class="col-sm-7 col-12">
          <p>
            Been looking for quality content that can make you smart enough to confidently present yourself before the contemporary world? You are at the right destination. Keep your eyes peeled and make the most out of this opportunity that has
            knocked your door!
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Jumbotron End-->

  <div class="container">
    <div class="heading">
      <h1 class="text-center">What makes us Different?</h1>
      <hr class="my-4">
    </div>


    <div class="row">
      <div class="column">
        <div class="card">
          <img src="Assets/Images/instructor.png" class="course-icon mx-auto" alt="live sessions">
          <br>
          <p>10 hrs+ of live interactive & doubt solving sessions.</p>
        </div>
      </div>
      <hr class="divider d-block d-sm-none">
      <div class="column">
        <div class="card">
          <img src="Assets/Images/desktop-computer.png" class="course-icon mx-auto" alt="pro. mentor">
          <br>
          <p>Get mentored by top professionals.</p>
        </div>
      </div>
      <hr class="divider d-block d-sm-none">
      <div class="column">
        <div class="card justify-content-center">
          <img src="Assets/Images/graduate.png" alt="full development" class="course-icon mx-auto" >
          <br>
          <p>Courses tailored for your all-round development.</p>
        </div>
      </div>
      <hr class="divider d-block d-sm-none">
      <div class="column">
        <div class="card">
          <img src="Assets/Images/video-tutorials.png" alt="suitable guidance" class="course-icon mx-auto">
          <br>
          <p>Personalized guidance suited to your needs.</p>
        </div>
      </div>
      <hr class="divider d-block d-sm-none">
    </div>
    <hr class="divider d-none d-lg-block">
  </div>

  <div class="container">
    <div class="heading">
      <h1 class="text-center">Our Courses</h1>
      <hr class="my-4">
    </div>

    <div class="middle-container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-12 order-sm-first my-auto ">
          <img class="course-icon" src="Assets/Images/langIcon.svg" alt="languages-img">
        </div>
        <div class="col-sm-8 col-12 order-sm-first my-auto">
          <h3>Languages</h3>
          <p class="text-left">
          Eliminate the concern of communication barrier in any foreign country by learning to speak various languages with ease.
          </p>
        </div>
      </div>

      <hr class="divider">
      <div class="row">
        <div class="col-sm-4 col-12 order-sm-last my-auto">
          <img class="course-icon" src="Assets/Images/devIcon.svg" alt="development-img">
        </div>
        <div class="col-sm-8 col-12 order-sm-first my-auto course-text">
          <h3>Development</h3>
          <p class="text-left">
              Take a step towards advancement by acquiring the skills of Web Development, App Development, Game Development & iOS Development.
          </p>
        </div>
      </div>
      <hr class="divider">
      <div class="row">
        <div class="col-sm-4 col-12 order-sm-first my-auto">
          <img class="course-icon" src="Assets/Images/iotIcon.svg" alt="electronics-img">
        </div>
        <div class="col-sm-8 col-12 order-sm-first my-auto">
          <h3>Internet of Robotic Things</h3>
          <p class="text-left">
             Familiarize yourself with concept of Internet of Things, Robotics, Drone Making etc. which will help you embark on your journey towards triumph.
          </p>
        </div>
      </div>
      <hr class="divider">
      <div class="row">
        <div class="col-sm-4 col-12 order-sm-last my-auto">
          <img class="course-icon" src="Assets/Images/marketingIcon.png" alt="development-img">
        </div>
        <div class="col-sm-8 col-12 order-sm-first my-auto course-text">
          <h3>Marketing</h3>
          <p class="text-left">
         Understanding the marketing strategies & a spectrum of tactics that fall under umbrella of Digital Marketing.
          </p>
        </div>
      </div>
      <hr class="divider">
      <div class="row">
        <div class="col-sm-4 col-12 order-sm-first my-auto">
          <img class="course-icon" src="Assets/Images/codingIcon.png" alt="electronics-img">
        </div>
        <div class="col-sm-8 col-12 order-sm-first my-auto">
          <h3>Coding</h3>
          <p class="text-left">
           Learn the language of computers & dive deep into the world of coding with us.
          </p>
        </div>
      </div>
    </div>
  </div>
